In [1]:
import os
from pandas import *

In [2]:
video_dir='../../processed_videos'

In [4]:
os.listdir(video_dir)

['blank', 'hello', 'how are you', 'i', 'morning', 'sorry', 'thank you']

In [5]:
file_path,label=[],[]

In [6]:
for action in os.listdir(video_dir):
    print(action)
    path=os.path.join(video_dir,action)
    for video in os.listdir(path):
        video_path=os.path.join(video_dir,action,video)
        file_path.append(video_path)
        label.append(action)

blank
hello
how are you
i
morning
sorry
thank you

In [9]:
df=DataFrame(columns=['file_path','label'])

In [11]:
df['file_path']=file_path
df['label']=label

In [12]:
df

                                  file_path      label
0        ../../processed_videos\blank\0.mp4      blank
1        ../../processed_videos\blank\1.mp4      blank
2       ../../processed_videos\blank\10.mp4      blank
3       ../../processed_videos\blank\11.mp4      blank
4       ../../processed_videos\blank\12.mp4      blank
..                                      ...        ...
345  ../../processed_videos\thank you\5.mp4  thank you
346  ../../processed_videos\thank you\6.mp4  thank you
347  ../../processed_videos\thank you\7.mp4  thank you
348  ../../processed_videos\thank you\8.mp4  thank you
349  ../../processed_videos\thank you\9.mp4  thank you

[350 rows x 2 columns]

In [13]:
df.to_csv("csv_data.csv",index=False)